<div class="card-container border rounded-md p-4">
    <div class="card-header w-full flex items-start justify-between mb-4">
        <div>
            <p class="text-sm font-semibold mb-2">{{ cryptoItem()?.real_title }}</p>
            <h3 class="text-4xl font-bold">${{ cryptoItem()?.buy_price }}</h3>
            <span class="text-sm font-semibold">Prix actuel</span>
        </div>
        <p class="text-sm font-semibold">{{ cryptoItem()?.title_type }}</p>
    </div>
    <div class="card-body w-full flex items-center justify-center flex-col gap-2">
        <div class="col-1 flex items-center justify-start gap-10 rounded-md p-1">
            <div>
                <span class="font-semibold">Durée</span>
                <p>{{ cryptoItem()?.maturity_date }}%</p>
            </div>
            <div>
                <span class="font-semibold">Taux d'intérêt</span>
                <p>{{ cryptoItem()?.interest_rate }}%</p>
            </div>
        </div>
        <div class="col-2 rounded-md p-1">
            <span class="font-semibold">Date de création</span>
            <p>{{ cryptoItem()?.created_at }}</p>
            <span class="font-semibold">Date de maturation</span>
            <p>{{ cryptoItem()?.maturity_date }}</p>
        </div>
    </div>
</div>