<div class="virtual-title-card flex flex-col items-start justify-between shadow-md border rounded-lg p-4">
    <h3 class="text-lg font-bold mb-2 border p-1 rounded-md">Type de titre: {{ virtualTitleItem()?.real_title_code }}</h3>
    <div class="icon mb-4">
        <i class="pi pi-file-card icon text-6xl text-gray-500"></i>
    </div>
    <div class="details text-left">
        <p class="title text-md font-semibold">Prix achat: {{ virtualTitleItem()?.sell_price | currency : '2-1-1' : 'XAF'}}</p>
        <div class="w-full flex items-start justify-start flex-wrap gap-2">
            <p class="description text-sm text-gray-600">prix vente: {{ virtualTitleItem()?.buy_price | currency : '2-1-1' : 'XAF' }}</p>
            <p class="description text-sm text-gray-600">marge: {{ virtualTitleItem()?.margin }}</p>
            <p class="description text-sm text-gray-600">Quantité: {{ virtualTitleItem()?.quantity }}</p>
            <p class="description text-sm text-gray-600">maturité: {{ virtualTitleItem()?.maturity_date }}</p>
        </div>
    </div>
</div>