<div class="assets-container w-full h-full px-8 mt-28">
    <span class="text-sm text-left font-semibold text-gray-500">Tableau de bord > {{ title() }}</span>
    <div class="header w-full flex items-center justify-between">
        <h1 class="text-5xl text-gray-700 font-bold my-4">Gestion des titres (actifs)</h1>
        <app-dialog-box [buttonLabel]="'Nouveau titre'" />
    </div>


    <div class="table-container flex items-start justify-between gap-4">
        <table class="w-3/4">
            <thead class="+w-full">
                <tr class="w-full bg-gray-200">
                    <td class="text-sm font-bold text-gray-600 p-2">Id</td>
                    <td class="text-sm font-bold text-gray-600 p-2">Symbol</td>
                    <td class="text-sm font-bold text-gray-600 p-2">Nom</td>
                    <td class="text-sm font-bold text-gray-600 p-2">Prix d'achat</td>
                    <td class="text-sm font-bold text-gray-600 p-2">Prix vente</td>
                    <td class="text-sm font-bold text-gray-600 p-2">Qantité</td>
                    <td class="text-sm font-bold text-gray-600 p-2">Taux d'intèrêt</td>
                    <td class="text-sm font-bold text-gray-600 p-2">date maturité</td>
                    <td class="text-sm font-bold text-gray-600 p-2">Marge</td>
                    <td class="text-sm font-bold text-gray-600 p-2">Options</td>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="assetsData().length > 0; else noData">
                    @for (item of assetsData().slice(0, 9); track item.id) {
                        <tr>
                            <td class="border-b p-2">{{ item.id }}</td>
                            <td class="border-b p-2">{{ item.symbol }}</td>
                            <td class="border-b p-2">{{ item.name }}</td>
                            <td class="border-b p-2">{{ item.buy_price }}</td>
                            <td class="border-b p-2">{{ item.sell_price }}</td>
                            <td class="border-b p-2">{{ item.quantity }}</td>
                            <td class="border-b p-2">{{ item.interest_rate }}</td>
                            <td class="border-b p-2">{{ item.maturity_date }}</td>
                            <td class="border-b p-2">{{ item.margin }}</td>
                            <td class="border-b p-2 cursor-pointer">
                                <div class="flex items-center justify-center gap-2">
                                    <p-toast position="top-right" />
                                    <p-menu #menu [model]="items()" popup="true" />
                                    <p-button icon="pi pi-ellipsis-v" size="small" variant="text" severity="contrast" (click)="menu.toggle($event)" />
                                </div>
                            </td>
                        </tr>
                    }
                </ng-container>

                <ng-template #noData>
                    <tr>
                        <td class="border-b p-2 text-center text-lg" colspan="10">Aucune donnée disponible</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>

        <div class="analytics w-1/4">
            <div class="higher w-full p-2 mb-4 border shadow-md rounded-lg">
                <app-crypto-card [cryptoItem]="transactionData()[0]" />
            </div>
            <div class="lower w-full border rounded-lg">
                <app-crypto-card [cryptoItem]="transactionData()[9]" />
            </div>
        </div>
    </div>

    <div class="circulation-graph w-full p-2 my-20">
        <h1 class="text-4xl text-gray-700 font-bold my-4">Gestion des titres (actifs)</h1>
        <span class="text-sm text-left font-semibold text-gray-500">
            Graphique expliquant l'évolution des {{ title() }} en fonction des quantités en circulation, des quantités totales et des prix sur le marché.
        </span>

        <div class="graph-stats w-full flex items-start justify-between gap-20 mt-4">
            <div class="graph w-3/4 border">
                <app-chart-line [chartData]="assetsData()" />
            </div>
            <div class="stats w-1/4 border"></div>
        </div>
    </div>

    <div class="edit-form W-1/4 border p-4 bg-white rounded-lg shadow-md" [ngClass]="{ hidden: !isOpened() }">
        <div class="edit header w-full flex items-center justify-between mb-4">
            <h2 class="text-2xl text-center font-bold text-gray-700">Modifier le titre</h2>
            <i
                class="pi pi-times hover:bg-red-100 p-2 rounded-full cursor-pointer"
                style="color: red; font-size: 1rem;"
                (click)="displayForm()"
            ></i>
        </div>
        <app-asset-form />
    </div>
</div>
