<p-toast position="top-right" />
<div class="assets-container w-full h-full px-8 mt-4">
    <span class="text-sm text-left font-semibold text-gray-500">Tableau de bord > {{ title() }}</span>
    <div class="header w-full flex items-center justify-between">
        <h1 class="text-5xl text-gray-700 font-bold my-4">Gestion des titres (actifs)</h1>
        <div class="flex items-center justify-center gap-4">
            <a pButton icon="pi pi-refresh" severity="contrast" href="/assets" class="text-sm font-semibold p-2 cursor-pointer">Actualiser</a>
            <app-dialog-box [buttonLabel]="'Nouveau titre'" />
        </div>
    </div>


    <div class="table-container">
        <p-table
            [value]="titleData()"
            [rows]="10"
            [paginator]="true"
            [rowsPerPageOptions]="[5,10,20]"
            class="w-full"
        >
            <ng-template #header>
                <tr class="w-full bg-gray-600">
                    <th class="text-sm font-bold text-gray-600 p-2">nom</th>
                    <th class="text-sm font-bold text-gray-600 p-2">type</th>
                    <th class="text-sm font-bold text-gray-600 p-2">Durée(semaines)</th>
                    <th class="text-sm font-bold text-gray-600 p-2">montant</th>
                    <th class="text-sm font-bold text-gray-600 p-2">Quantité</th>
                    <th class="text-sm font-bold text-gray-600 p-2">status</th>
                    <th class="text-sm font-bold text-gray-600 p-2">taux intérêt</th>
                    <th class="text-sm font-bold text-gray-600 p-2">date maturité</th>
                    <th class="text-sm font-bold text-gray-600 p-2">date d'émission</th>
                    <th class="text-sm font-bold text-gray-600 p-2">Options</th>
                </tr>
            </ng-template>

            <ng-template #body let-asset>
                <tr style="font-size: 0.8rem;">
                    <td class="border-b p-2">{{ asset.name }}</td>
                    <td class="border-b p-2">{{ asset.title_type }}</td>
                    <td class="border-b p-2">{{ asset.bta_duration_weeks }}</td>
                    <td class="border-b p-2">{{ asset.amount }}</td>
                    <td class="border-b p-2">{{ asset.quantity }}</td>
                    <td class="border-b p-2">{{ asset.state }}</td>
                    <td class="border-b p-2">{{ asset.interest_rate }}</td>
                    <td class="border-b p-2">{{ asset.maturity_date }}</td>
                    <td class="border-b p-2">{{ asset.issue_date }}</td>
                    <td class="border-b p-2 flex items-center justify-center">
                        <app-title-details [title_id]="asset.id" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <hr class="w-full my-4" />

    @defer (on viewport) {
        <!-- Titre virtuel -->
        <div class="virtual-titles w-full">
            <!-- boutons d'action -->
            <div class="buttons w-1/4 flex items-center justify-start gap-4 mb-4">
                <app-virtual-title-form />
                <button pButton class="cursor-pointer rounded-md" icon="pi pi-search" label="chercher" severity="contrast" variant="text" size="small"></button>
            </div>
    
            <!-- composant titre virtuel -->
            <div class="virtual-title-cards w-full flex items-start justify-start flex-wrap gap-4">
                @for (item of virtualTitleData(); track item.id) {
                    <app-virtual-title-card [virtualTitleItem]="item" />
                }
            </div>
        </div>
    }@placeholder {
        <div class="virtual-titles-placeholder"></div>
    }

    <div class="circulation-graph w-full p-2 my-20">
        <h1 class="text-4xl text-gray-700 font-bold my-4">Gestion des titres (actifs)</h1>
        <span class="text-sm text-left font-semibold text-gray-500">
            Graphique expliquant l'évolution des {{ title() }} en fonction des quantités en circulation, des quantités totales et des prix sur le marché.
        </span>

        <div class="graph-stats w-full">
            <div class="graph w-full border">
                <app-chart-line />
            </div>
        </div>
    </div>
</div>
