.header-container {
    z-index: 2;
    position: relative;
}

.logout-box {
    display: none;
    
    &.open {
        display: block;
        width: 160px;
        position: absolute;
        top: 60px;
        right: 30px;
        z-index: 3;
    }
}