<div class="transaction-container w-full h-full p-8 mt-4">
    <span class="text-sm font-semibold text-gray-500 mb-4">Tableau de bord > Transactions</span>
    <h1 class="text-4xl font-bold mb-4">Transactions</h1>
    <p class="text-gray-600 mb-6">Gestion des toutes vos transactions sur la plateforme.</p>
    <!-- Add your transaction management UI here -->

    <div class="table-container w-full">
        <div class="card">
            <p-table
                [value]="transactions()"
                [paginator]="true"
                [rows]="10"
                [rowsPerPageOptions]="[5,10,20]"
                class="w-full"
            >
                <ng-template #header>
                    <tr class="bg-gray-200">
                        <th class="text-sm font-bold text-gray-600 p-2">Id</th>
                        <th class="text-sm font-bold text-gray-600 p-2">Type</th>
                        <th class="text-sm font-bold text-gray-600 p-2">side</th>
                        <th class="text-sm font-bold text-gray-600 p-2">Méthode de paiement</th>
                        <th class="text-sm font-bold text-gray-600 p-2">Status</th>
                        <th class="text-sm font-bold text-gray-600 p-2">Status de paiement</th>
                        <th class="text-sm font-bold text-gray-600 p-2">Montant (grosse)</th>
                        <th class="text-sm font-bold text-gray-600 p-2">Montant net</th>
                        <th class="text-sm font-bold text-gray-600 p-2">Date expiration</th>
                        <th class="text-sm font-bold text-gray-600 p-2">Date création</th>
                        <th class="text-sm font-bold text-gray-600 p-2">settled_at</th>
                        <th class="text-sm font-bold text-gray-600 p-2">Options</th>
                    </tr>
                </ng-template>

                <ng-template #body let-transaction>
                    <tr style="font-size: 0.8rem;">
                        <td class="border-b p-2">{{ transaction.id }}</td>
                        <td class="border-b p-2 text-gray-600">{{ transaction.asset_kind }}</td>
                        <td class="border-b p-2">{{ transaction.side }}</td>
                        <td class="border-b p-2 text-gray-600">{{ transaction.payment_method }}</td>
                        <td class="border-b p-2 text-gray-600">{{ transaction.state }}</td>
                        <td class="border-b p-2">{{ transaction.payment_state }}</td>
                        <td class="border-b p-2 text-gray-600">{{ transaction.gross_amount }}</td>
                        <td class="border-b p-2 text-gray-600">{{ transaction.net_amount }}</td>
                        <td class="border-b p-2 text-gray-600">{{ transaction.expires_at }}</td>
                        <td class="border-b p-2 text-gray-600">{{ transaction.created_at }}</td>
                        <td class="border-b p-2 text-gray-600">{{ transaction.settled_at }}</td>
                        <td class="border-b p-2 cursor-pointer">
                            <app-transaction-details [item]="transaction" />
                        </td>
                    </tr>
                </ng-template>
                <ng-template #noTransactions>
                    <tr>
                        <td class="border-b p-2 text-center" colspan="10">Aucune donnée disponble</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</div>