<p-toast position="top-right" />
<div class="title-details-container flex justify-center">
    <div>
        <i class="pi pi-eye" style="font-size: 1rem; cursor: pointer;" (click)="showDialog($event)"></i>
        <p-dialog maskStyleClass="backdrop-blur-sm" [(visible)]="visible" styleClass="!bg-transparent" (onHide)="closeDialog()">
            <ng-template #headless>
                <div class="details-card p-8 bg-white shadow-sm rounded-lg">
                    <div class="header mb-6">
                        <div class="w-full flex items-center justify-between mb-6 px-4">
                            <h1 class="text-3xl text-gray-600 font-bold">Informations sur le titre</h1>
                            <button pButton type="button"  rounded="true" icon="pi pi-times" (click)="closeDialog()" class="p-button-secondary w-1/2 cursor-pointer"></button>
                        </div>
                        <div class="w-full flex items-start justify-start flex-col gap-2 px-4">
                            <!--<span class="text-5xl text-white font-bold px-7 py-5 rounded-full bg-black">{{ current_title()?.name?.charAt(0) }}</span>-->
                            <h2 class="text-xl text-gray-600 font-bold mb-2">{{ current_title()?.name }}</h2>
                            <div class="w-full flex items-center justify-start gap-10">
                                <div>
                                    <span>Type</span>
                                    <p class="text-sm font-semibold">{{ current_title()?.title_type }}</p>
                                </div>
                                <div>
                                    <span>État</span>
                                    <p class="text-sm font-semibold">{{ current_title()?.amount }}</p>
                                </div>
                                <div>
                                    <span>Code</span>
                                    <p class="text-sm font-semibold">{{ current_title()?.title_code }}</p>
                                </div>
                                <div>
                                    <span>État</span>
                                    <div class="w-full flex items-center justify-start gap-4">
                                        <p class="text-sm font-semibold">{{ current_title()?.state }}</p>
                                        <!--<button pButton severity="success" variant="outlined" size="small" rounded="true" icon="pi pi-check" (click)="onActivate()" class="text-sm cursor-pointer">activer</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="block bg-gray-100 rounded-lg p-2 grid grid-cols-4 gap-4">
                            <div class="col-span-2 flex items-center justify-start gap-4 border-b border-gray-300">
                                <i class="pi pi-dollar font-semibold" style="font-size: 1.5rem;"></i>
                                <div>
                                    <span class="text-sm font-semibold">Prix</span>
                                    <p class="text-lg font-semibold">{{ current_title()?.amount }}</p>
                                </div>
                            </div>
                            <div class="col-span-2 flex items-center justify-start gap-4 bg-gray-100 border-b border-gray-300">
                                <i class="pi pi-inbox font-semibold" style="font-size: 1.5rem;"></i>
                                <div>
                                    <span class="text-sm font-semibold">Quantité</span>
                                    <p class="text-lg font-semibold">{{ current_title()?.quantity}}</p>
                                </div>
                            </div>
                            <div class="col-span-2 flex items-center justify-start gap-4 bg-gray-100 border-b border-gray-300">
                                <i class="pi pi-calendar-plus font-semibold" style="font-size: 1.5rem;"></i>
                                <div>
                                    <span class="text-sm font-semibold">Date Création</span>
                                    <p class="text-lg font-semibold">{{ current_title()?.issue_date}}</p>
                                </div>
                            </div>
                            <div class="col-span-2 flex items-center justify-start gap-4 bg-gray-100 border-b border-gray-300">
                                <i class="pi pi-history font-semibold" style="font-size: 1.5rem;"></i>
                                <div>
                                    <span class="text-sm font-semibold">Durée (en semaines)</span>
                                    <p class="text-lg font-semibold">{{ current_title()?.bta_duration_weeks}}</p>
                                </div>
                            </div>
                            <div class="col-span-2 flex items-center justify-start gap-4 bg-gray-100 rounded-lg">
                                <i class="pi pi-calendar-clock font-semibold" style="font-size: 1.5rem;"></i>
                                <div>
                                    <span class="text-sm font-semibold">Date maturité</span>
                                    <p class="text-lg font-semibold">{{ current_title()?.maturity_date}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="w-full mt-6 flex items-center justify-between gap-4">
                        <!--<button pButton type="button" label="Fermer" icon="pi pi-times" (click)="closeDialog()" class="p-button-secondary w-1/2"></button>-->
                        <!--<app-dialog-box [action]="'modify'" [buttonLabel]="'Modifier'" />-->
                        <button pButton type="button" label="Supprimer" severity="danger" variant="text" icon="pi pi-trash" (click)="onDeleteTitle()" class="p-button-secondary w-full cursor-pointer"></button>
                    </div>
                </div>
            </ng-template>
        </p-dialog>
    </div>
</div>