.title-details-container {
    div {
        .details-card {
            width: 600px;
            height: 100%;
            padding: 1rem;

            .details-grid {
                .details-box {
                    background-color: #e8e8e8;

                    .detail-item {
                        span { font-size: 12px; }
                    }
                }
            }
        }
    }
}