<p-toast position="top-right" />
<div class="fund-form-container flex justify-center">
    <button class="cursor-pointer" pButton icon="pi pi-plus" severity="contrast" size="small" (click)="showDialog($event)" rounded="true"></button>

    <p-dialog maskStyleClass="backdrop-blur-sm" [(visible)]="visible" styleClass="border !bg-transparent">
        <ng-template #headless>
            <form class="p-4 bg-white shadow-md rounded-md" [formGroup]="fundForm" (ngSubmit)="onSubmit()">
                <div class="input-groups w-full flex items-center justify-center border-black gap-4 mb-4">
                    <!-- Champs d'entrée pour le nom du fond -->
                    <div class="input-box w-full">
                        <label for="name" class="block text-sm font-medium text-gray-700">Nom du fond</label>
                        @if (f['name'].touched && f['name'].invalid) {
                            @if (f['name'].errors?.['required']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le nom du fond est requis</span>
                            }
                        }
                        <input id="name" type="text" placeholder="Entrer le nom du fond" formControlName="name" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outlined-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                    </div>

                    <!-- Champs d'entrée pour la société de gestion -->
                    <div class="input-box w-full">
                        <label for="management_company" class="block text-sm font-medium text-gray-700">Société de gestion</label>
                        @if (f['management_company'].touched && f['management_company'].invalid) {
                            @if (f['management_company'].errors?.['required']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le nom de la société est requis</span>
                            }
                        }
                        <input id="management_company" type="text" placeholder="Entrer le nom de la société de gestion" formControlName="management_company" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outlined-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                    </div>
                </div>

                <!-- Champs d'entrée pour le type de fond -->
                <div class="input-groups w-full flex items-center justify-center border-black gap-4 mb-4">
                    <!-- Champs d'entrée pour le type de fond -->
                    <div class="input-box w-full">
                        <label for="fund_type" class="block text-sm font-medium text-gray-700">Type de fond</label>
                        @if (f['fund_type'].touched && f['fund_type'].invalid) {
                            @if (f['fund_type'].errors?.['required']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le type de fond est requis</span>
                            }
                        }
                        <select formControlName="fund_type" id="fund_type" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outlined-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                            <option value="" disabled selected>-- Sélectionner le type de fond --</option>
                            <option *ngFor="let type of fundTypeList" [value]="type.value">{{ type.value }}</option>
                        </select>
                    </div>
                </div>

                <!-- Champs d'entrée pour les nav_per_unit & nav_date -->
                <div class="input-groups w-full flex items-center justify-center border-black gap-4 mb-4">
                    <!-- Champs d'entrée pour le nav_per_unit -->
                    <div class="input-box w-full">
                        <label for="nav_per_unit" class="block text-sm font-medium text-gray-700">Nav per unit</label>
                        @if (f['nav_per_unit'].touched && f['nav_per_unit'].invalid) {
                            @if (f['nav_per_unit'].errors?.['required']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le nav_per_unit est requis</span>
                            }
                            @if (f['nav_per_unit'].errors?.['min']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le nav_per_unit minimum requis est 5</span>
                            }
                        }
                        <input id="nav_per_unit" type="number" min="5" formControlName="nav_per_unit" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outlined-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                    </div>

                    <!-- Champs d'entrée pour le nav_date -->
                    <div class="input-box w-full">
                        <label for="nav_date" class="block text-sm font-medium text-gray-700">Nav Date</label>
                        @if (f['nav_date'].touched && f['nav_date'].invalid) {
                            @if (f['nav_date'].errors?.['required']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le nav_date est requis</span>
                            }
                        }
                        <input id="nav_date" type="date" formControlName="nav_date" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outlined-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                    </div>
                </div>

                <!-- Champs d'entrée pour les expense_ratio & min_subscription_amount -->
                <div class="input-groups w-full flex items-center justify-center border-black gap-4 mb-4">
                    <!-- Champs d'entrée pour le expense_ratio -->
                    <div class="input-box w-full">
                        <label for="expense_ratio" class="block text-sm font-medium text-gray-700">Expense ratio</label>
                        @if (f['expense_ratio'].touched && f['expense_ratio'].invalid) {
                            @if (f['expense_ratio'].errors?.['required']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le expense_ratio est requis</span>
                            }
                            @if (f['expense_ratio'].errors?.['min']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le expense_ratio minimum requis est 7</span>
                            }
                        }
                        <input id="expense_ratio" type="number" min="7" formControlName="expense_ratio" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outlined-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                    </div>

                    <!-- Champs d'entrée pour le min_subscription -->
                    <div class="input-box w-full">
                        <label for="min_subscription_amount" class="block text-sm font-medium text-gray-700">Montant subscription Minimum</label>
                        @if (f['min_subscription_amount'].touched && f['min_subscription_amount'].invalid) {
                            @if (f['min_subscription_amount'].errors?.['required']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le montant minimum est requis</span>
                            }
                            @if (f['min_subscription_amount'].errors?.['min']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Un minimum requis est 10</span>
                            }
                        }
                        <input id="min_subscription_amount" type="number" min="10" formControlName="min_subscription_amount" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outlined-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                    </div>
                </div>

                <!-- Champs d'entrée pour les entry_fee_rate & exit_fee_rate -->
                <div class="input-groups w-full flex items-center justify-center border-black gap-4 mb-4">
                    <!-- Champs d'entrée pour le entry_fee_rate -->
                    <div class="input-box w-full">
                        <label for="expense_ratio" class="block text-sm font-medium text-gray-700">Frais d'entrée</label>
                        @if (f['entry_fee_rate'].touched && f['entry_fee_rate'].invalid) {
                            @if (f['entry_fee_rate'].errors?.['required']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le frais d'entrée sont requis</span>
                            }
                            @if (f['entry_fee_rate'].errors?.['min']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le minimum requis est 100</span>
                            }
                        }
                        <input id="entry_fee_rate" type="number" min="7" formControlName="entry_fee_rate" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outlined-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                    </div>

                    <!-- Champs d'entrée pour le exit_fee_rate -->
                    <div class="input-box w-full">
                        <label for="exit_fee_rate" class="block text-sm font-medium text-gray-700">Frais de sortie</label>
                        @if (f['exit_fee_rate'].touched && f['exit_fee_rate'].invalid) {
                            @if (f['exit_fee_rate'].errors?.['required']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Les frais de sortie sont requis</span>
                            }
                            @if (f['exit_fee_rate'].errors?.['min']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Un minimum requis est 250</span>
                            }
                        }
                        <input id="exit_fee_rate" type="number" min="10" formControlName="exit_fee_rate" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outlined-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                    </div>
                </div>

                <!-- Champs d'entrée pour les risk_level & verified -->
                <div class="input-groups w-full flex items-center justify-center border-black gap-4 mb-4">
                    <!-- Champs d'entrée pour le risk_level -->
                    <div class="input-box w-full">
                        <label for="risk_level" class="block text-sm font-medium text-gray-700">Niveau de risque</label>
                        @if (f['risk_level'].touched && f['risk_level'].invalid) {
                            @if (f['risk_level'].errors?.['required']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le niveau de risque est requis</span>
                            }
                        }
                        <select formControlName="risk_level" id="risk_level" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outlined-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                            <option value="" disabled selected>-- Sélectionner le niveau de risque --</option>
                            <option
                                *ngFor="let risk of fundRiskLevel"
                                [value]="risk.value"
                            >
                                {{ risk.value }}
                            </option>
                        </select>
                    </div>

                    <!-- Champs d'entrée pour le verified -->
                    <!--
                    <div class="input-box w-1/3 flex items-center justify-center">
                        <input id="verified" type="checkbox" formControlName="verified" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outlined-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                        <label for="verified" class="block text-sm font-medium text-gray-700">Vérifier</label>
                        @if (f['verified'].touched && f['verified'].invalid) {
                            @if (f['verified'].errors?.['required']) {
                                <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le minimum est requis</span>
                            }
                        }
                    </div>
                    -->
                </div>

                <!-- boutons d'action -->
                <div class="buttons w-full flex items-center justify-between gap-4 mt-4">
                    <button class="w-1/2 p-2 border rounded-md cursor-pointer hover:bg-black hover:text-white" (click)="closeDialog()">Annuler</button>
                    <button type="submit" class="w-1/2 p-2 border border-green-200 rounded-md cursor-pointer hover:bg-green-100 text-green-600">Enregistrer le fond</button>
                </div>
            </form>
        </ng-template>
    </p-dialog>
</div>