@mixin td_config {
    width: 120px;
    font-size: 12px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
        text-align: left;
    }

    &:nth-child(4) {
        width: 50px;
        place-items: center;
        text-align: center
    };

    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
        text-align: right;
    }
}

.customer-container {
    .customer-table {
        thead {
            tr > td {
                @include td_config();
                border: 1px solid;
            }
        }
    }
}