<p-toast position="top-right" />
<div class="dialog-container flex justify-center">
    <div>
        @if (action() === 'modify') {
            <button pButton icon="pi pi-pencil" [label]="buttonLabel()" severity="contrast" (click)="showDialog($event)" style="width: 250px; cursor: pointer;" ></button>
        }
        @else {
            <p-button icon="pi pi-plus" [label]="buttonLabel()" severity="contrast" (click)="showDialog($event)" />
        }
        <p-dialog maskStyleClass="backdrop-blur-sm" [(visible)]="visible" styleClass="border !bg-transparent">
            <ng-template #headless>
                <form class="p-8 bg-white shadow-sm rounded-md" [formGroup]="assetForm" (ngSubmit)="action() === 'modify' ? onSubmit() : onCreate()">
                    <div class="input-groups w-full flex flex-col items-center justify-center border-black gap-4 mb-4">
                        <!-- Champs d'entrée pour le nom du titre -->
                        <div class="input-box w-full">
                            <label for="cryptoName" class="block text-sm font-medium text-gray-700">Nom du titre</label>
                            @if (f['name'].touched && f['name'].invalid) {
                                @if (f['name'].errors?.['required']) {
                                    <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le nom du titre est requis.</span>
                                }
                            }
                            <input id="cryptoName" type="text" placeholder="Entrer le nom de la crypto" formControlName="name" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                        </div>

                        <!-- Champs d'entrée pour le type et l'état du titre -->
                        <div class="input-groups w-full flex items-center justify-center gap-4 mb-2">
                            <div class="input-box w-1/2">
                                <label for="cryptoName" class="block text-sm font-medium text-gray-700">Type de titre</label>
                                @if (f['title_type'].touched && f['title_type'].invalid) {
                                    @if (f['title_type'].errors?.['required']) {
                                        <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le type est requis.</span>
                                    }
                                }
                                <select formControlName="title_type" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                                    <option value="" disabled selected>-- Sélectionner le type --</option>
                                    @for (t of typeArr; track t.value) {
                                        <option [value]="t.value">{{ t.label }}</option>
                                    }
                                </select>
                            </div>
                            <div class="input-box w-1/2">
                                <label for="cryptoName" class="block text-sm font-medium text-gray-700">État du titre</label>
                                @if (f['state'].touched && f['state'].invalid) {
                                    @if (f['state'].errors?.['required']) {
                                        <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">L'état est requis.</span>
                                    }
                                }
                                <select formControlName="state" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                                    <option value="" disabled selected>-- Sélectionner l'état --</option>
                                    @for (state of stateArr; track state.value) {
                                        <option [value]="state.value">{{ state.label }}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Champs d'entrée pour le prix et la quantité -->
                    <div class="input-groups w-full flex items-center justify-center gap-4 mb-4">
                        <div class="input-box w-1/2">
                            <label for="cryptoName" class="block text-sm font-medium text-gray-700">Prix d'achat</label>
                            @if (f['amount'].touched && f['amount'].invalid) {
                                @if (f['amount'].errors?.['required']) {
                                    <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le montant est requis.</span>
                                }
                                @if (f['amount'].errors?.['min']) {
                                    <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Un minimum de 50 est requis</span>
                                }
                            }
                            <input id="cryptoName" type="number" min="50" formControlName="amount" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                        </div>
                        <div class="input-box w-1/2">
                            <label for="cryptoName" class="block text-sm font-medium text-gray-700">Quantité</label>
                            @if (f['quantity'].touched && f['quantity'].invalid) {
                                @if (f['quantity'].errors?.['required']) {
                                    <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">La quantité est requise.</span>
                                }
                                @if (f['quantity'].errors?.['min']) {
                                    <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Une quantité minimum de 60 est requise</span>
                                }
                            }
                            <input id="cryptoName" type="number" min="60" formControlName="quantity" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                        </div>
                    </div>

                    <!-- Champs d'entrée pour le taux d'intérêt et la date de maturité -->
                    <div class="input-groups w-full flex items-center justify-center gap-4 mb-4">
                        <div class="input-box w-1/2">
                            <label for="cryptoName" class="block text-sm font-medium text-gray-700">Taux d'intérêt</label>
                            @if (f['interest_rate'].touched && f['interest_rate'].invalid) {
                                @if (f['interest_rate'].errors?.['required']) {
                                    <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Le taux d'interêt est requis.</span>
                                }
                                @if (f['interest_rate'].errors?.['min']) {
                                    <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">Un minimum de 5 est requis</span>
                                }
                            }
                            <input type="number" min="5" formControlName="interest_rate" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                        </div>
                        <div class="input-box">
                            <label for="cryptoName" class="block text-sm font-medium text-gray-700">Durée (en semaines)</label>
                            <select formControlName="bta_duration_weeks" (change)="computedDurationWeeks($event)" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                                @if (assetForm.controls['title_type'].value === 'BTA') {
                                    <option value="" disabled selected>-- Sélectionner la durée --</option>
                                    @for (bta of btaDurationArr; track bta.value) {
                                        <option [value]="bta.value">{{ bta.label }}</option>
                                    }
                                }
                                @else {
                                    <option value="" disabled selected>-- Aucune spécification pour les type OTA --</option>
                                }
                            </select>
                        </div>
                    </div>

                    <!-- Champs d'entrée pour la bta_duration_weeks -->
                    <div class="input-groups w-full mb-4">
                        <div class="input-box">
                            <label for="cryptoName" class="block text-sm font-medium text-gray-700">Date de maturité</label>
                            @if (f['maturity_date'].touched && f['maturity_date'].invalid) {
                                @if (f['maturity_date'].errors?.['required']) {
                                    <span class="text-red-500 font-semibold" style="font-size: 0.7rem;">La date est requise.</span>
                                }
                            }
                            <input id="cryptoName" type="text" formControlName="maturity_date" style="cursor: not-allowed;" [placeholder]="selectedDate() ? selectedDate() : maturity_date()" class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"/>
                        </div>
                    </div>

                    <!-- Boutons d'action -->
                    <div class="buttons w-full flex items-center justify-between gap-4 mt-4">
                        <button class="w-1/2 p-2 border rounded-md cursor-pointer hover:bg-black hover:text-white" (click)="closeDialog()">Annuler</button>
                        <button type="submit" class="w-1/2 p-2 border border-green-200 rounded-md cursor-pointer hover:bg-green-100 text-green-600">Enregistrer le titre</button>
                    </div>
                </form>
            </ng-template>
        </p-dialog>
    </div>
</div>
