 <div class="home-container mt-4 p-8">
    <h1 class="text-4xl font-bold mb-2">Statistiques d'ensemble</h1>
    <span class="text-sm text-gray-500 font-semibold">Tableau de bord</span>

    <section class="mt-8">
        <app-statistic-card />
    </section>

    <section class="titles mt-8">
        <h3 class="text-2xl font-bold mb-2">Titres (actifs)</h3>
        <div class="graphs w-full flex items-start justify-between flex-wrap gap-4 mt-2">
            <div class="graphic w-2/3 h-300 border rounded-lg">
                <app-chart-line [chartData]="marketData()" />
            </div>
            <div class="stats w-1/4">
                <app-crypto-card [cryptoItem]="marketData()[0]" />
            </div>
        </div>
    </section>

    <div class="transactions w-full flex items-center justify-between gap-8 mt-10">
        <div class="col-1 w-3/4">
            <h3 class="text-2xl font-bold mb-2">Dernières Transactions</h3>
            <span class="text-sm text-gray-500 font-semibold">Tableau récapitulatif des 3 dernières transactions</span>
            <table class="transaction-table w-full mt-2">
                <thead class="bg-gray-100">
                    <tr>
                        <td class="py-4 px-4">Id</td>
                        <td class="py-4 px-4">Client</td>
                        <td class="py-4 px-4 text-right">Montant</td>
                        <td class="py-4 px-4 text-right">Frais</td>
                        <td class="py-4 px-4 text-right">Méthode de paiement</td>
                        <td class="py-4 px-4 text-right">Type</td>
                        <td class="py-4 px-4 text-right">Status</td>
                        <td class="py-4 px-4 text-right">Option</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through marketData and display each assets -->
                    <ng-container *ngIf="transactionList().length; else noData">
                        @for (transaction of transactionList(); track transaction.transaction_reference) {
                            <tr>
                                <td class="border-b py-4 px-4">{{ transaction.id }}</td>
                                <td class="border-b py-4 px-4">{{ transaction.user }}</td>
                                <td class="border-b py-4 px-4 text-right">{{ transaction.amount }}</td>
                                <td class="border-b py-4 px-4 text-right">{{ transaction.fees }}</td>
                                <td class="border-b py-4 px-4 text-right">{{ transaction.payment_method }}</td>
                                <td class="border-b py-4 px-4 text-right">{{ transaction.type }}</td>
                                <td class="border-b py-4 px-4 text-right">{{ transaction.status }}</td>
                                <td class="border-b py-4 px-4 text-right">
                                    <app-transaction-details [item]="transaction" />
                                </td>
                            </tr>
                        }
                    </ng-container>
                    <ng-template #noData>
                        <tr>
                            <td colspan="6" class="text-center py-4">Aucune donnée disponible</td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
        <div class="col-2">
            <h3>Plus haute transaction</h3>
        </div>
    </div>
</div>