<p-toast position="top-right" />
<div class="user-details-container mt-4 p-8">
    <span class="text-sm text-left font-semibold text-gray-500">Tableau de bord > {{ title() }}</span>
    <div class="header w-full flex items-center justify-between">
        <h1 class="text-5xl text-gray-700 font-bold my-4">Informations sur l'utilisateur</h1>
    </div>

    <section class="personal-info max-w-[1080px] w-full bg-gray-100 rounded-md p-2 mb-20">
        <h2 class="text-2xl font-semibold mb-4">Informations Personnelles</h2>

        <div class="w-full flex items-start justify-start flex-col gap-4 p-2 bg-white rounded-md">
            <div class="col-1 flex items-start justify-start gap-20">
                <div class="user-id">
                    <label for="id" class="text-sm text-gray-500 font-bold mb-4">Identifiant unique</label>
                    <p id="id" class="text-sm text-gray-700 font-semibold">{{ currentUser()?.id }}</p>
                </div>
                <div class="user-role">
                    <label for="role" class="text-sm text-gray-500 font-bold mb-4">Rôle</label>
                    <p id="role" class="text-sm text-gray-700 font-semibold">{{ currentUser()?.role }}</p>
                </div>
            </div>

            <hr class="w-full" />

            <div class="col-2 flex items-start justify-start gap-20">
                <div class="user-email">
                    <label for="email" class="text-sm text-gray-500 font-bold mb-4">Adresse Mail</label>
                    <p id="email" class="text-sm text-gray-700 font-semibold">{{ currentUser()?.email }}</p>
                </div>
                <div class="user-phone">
                    <label for="phone" class="text-sm text-gray-500 font-bold mb-4">Téléphone</label>
                    <p id="phone" class="text-sm text-gray-700 font-semibold">{{ currentUser()?.phone }}</p>
                </div>
            </div>

            <hr class="w-full" />

            <div class="col-3 flex items-start justify-between gap-20">
                <div class="user-active">
                    <label for="is_active" class="text-sm text-gray-500 font-bold mb-4">Actif</label>
                    <p id="is_active" class="text-sm text-gray-700 font-semibold">{{ currentUser()?.is_active ? 'Utilisateur actif' : 'Utilisateur non actif' }}</p>
                </div>
                <div class="user-push_token">
                    <label for="push_token" class="text-sm text-gray-500 font-bold mb-4">Push Token</label>
                    <p id="push_token" class="text-sm text-gray-700 font-semibold">{{ currentUser()?.push_token ? currentUser()?.push_token : 'Aucun token' }}</p>
                </div>
                <div class="user-has_wallet">
                    <label for="has_wallet" class="text-sm text-gray-500 font-bold mb-4">Portefeuille</label>
                    <p id="has_wallet" class="text-sm text-gray-700 font-semibold">{{ currentUser()?.has_wallet ? 'Utilisateur avec portefeuille' : 'Utilisateur sans portefeuille' }}</p>
                </div>
            </div>
        </div>
    </section>


    <section class="personal-info max-w-[1080px] w-full bg-gray-100 p-2 rounded-md">
        <div class="flex items-center justify-start gap-8 mb-4">
            <h2 class="text-2xl font-semibold mb-4">Informations relatives au KYC (Know Your Customer) de l'utilisateur</h2>
        </div>

        <div class="progress-bar">
            <progress
                min="0"
                max="100"
                [value]="progressBarValue()"
                class="w-[350px] h-[7px] bg-gray-100 rounded-full"
            ></progress>
            <button pButton severity="primary" variant="text" icon="pi pi-plus" size="small" (click)="increaseProgressValue()">Ajouter</button>
            <button pButton severity="secondary" variant="text" icon="pi pi-minus" size="small" (click)="decreaseProgressValue()">Retirer</button>
        </div>

        @if (currentUserKyc() === null) {
            <div class="error-msg w-1/3 bg-red-100 p-4 rounded-md">
                <p class="text-lg text-red-500 font-semibold">KYC non soumis</p>
            </div>
        }
        @else {
            <div class="flex items-start justify-start flex-col gap-4">
                <div class="col-1 w-full p-4 bg-white rounded-md">
                    <h3 class="text-lg text-gray-600 font-semibold mb-4">Informations Personnelles</h3>
                    <div class="w-full">
                        <div class="w-full flex items-start justify-between flex-wrap gap-6 mb-6">
                            <div class="user-id">
                                <label for="id" class="text-sm text-gray-500 font-bold mb-4">Nom complet</label>
                                <p id="id" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.full_name }}</p>
                            </div>
                            <div class="user-role">
                                <label for="role" class="text-sm text-gray-500 font-bold mb-4">Nom</label>
                                <p id="role" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.first_name }}</p>
                            </div>
                            <div class="user-role">
                                <label for="role" class="text-sm text-gray-500 font-bold mb-4">Date de naissance</label>
                                <p id="role" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.birth_date }}</p>
                            </div>
                            <div class="user-role">
                                <label for="role" class="text-sm text-gray-500 font-bold mb-4">Nationalité</label>
                                <p id="role" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.nationality }}</p>
                            </div>
                            <div class="user-role">
                                <label for="role" class="text-sm text-gray-500 font-bold mb-4">Adresse</label>
                                <p id="role" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.address }}</p>
                            </div>
                            <div class="user-role">
                                <label for="role" class="text-sm text-gray-500 font-bold mb-4">status</label>
                                @if (currentUserKyc()?.personal_info_status === 'approved') {
                                    <p id="role"  class="text-xs text-green-400 font-semibold">Approuvé</p>
                                }@else {
                                    <p
                                        id="has_wallet"
                                        [ngClass]="currentUserKyc()?.personal_info_status === 'rejected' ? 'text-red-400' : 'text-orange-400'"
                                        class="text-xs font-semibold"
                                    >
                                        {{ currentUserKyc()?.personal_info_status === 'rejected' ? 'Rejeté' : 'En attente' }}
                                    </p>
                                }
                            </div>
                            <div class="user-role">
                                <label for="role" class="text-sm text-gray-500 font-bold mb-4">Raison du rejet</label>
                                <p id="role" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.personal_info_rejection_reason }}</p>
                            </div>
                        </div>

                        <div class="w-full flex items-end justify-end gap-4">
                            <button
                                pButton
                                [severity]="isValidating() && currentSection() === '1' ? 'secondary' : 'success'"
                                [icon]="isValidating() && currentSection() === '1' ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
                                size="small"
                                class="w-[100px] text-xs text-white font-semibold bg-green-400 p-2 rounded-md cursor-pointer"
                                (click)="validateKycSection('personal_info', '1')" [disabled]="isValidating() && currentSection()"
                            >
                                @if (isValidating() && currentSection()) {
                                    Validation en cours
                                } @else {
                                    Valider
                                }
                            </button>

                            <button
                                pButton
                                [severity]="isRejecting() && currentSection() === '1' ? 'secondary' : 'danger'"
                                [icon]="isRejecting() && currentSection() === '1' ? 'pi pi-spin pi-spinner' : 'pi pi-times'"
                                size="small"
                                class="w-[100px] text-xs text-white font-semibold bg-red-400 p-2 rounded-md cursor-pointer"
                                (click)="rejectKycSection('personal_info', '1')"
                                [disabled]="isRejecting() && currentSection()"
                            >
                                @if (isRejecting() && currentSection()) {
                                    Rejet en cours
                                } @else {
                                    Rejeter
                                }
                            </button>
                        </div>
                    </div>
                </div>
    
                <div class="col-2 w-full p-4 bg-white rounded-md">
                    <h3 class="text-lg text-gray-600 font-semibold mb-4">Revenus</h3>
                    <div class="w-full">
                        <div class="w-full flex items-start justify-start gap-20 mb-6">
                            <div class="user-email">
                                <label for="email" class="text-sm text-gray-500 font-bold mb-4">Profession</label>
                                <p id="email" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.profession }}</p>
                            </div>
                            <div class="user-phone">
                                <label for="phone" class="text-sm text-gray-500 font-bold mb-4">Affiliation</label>
                                <p id="phone" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.filiation }}</p>
                            </div>
                            <div class="user-phone">
                                <label for="phone" class="text-sm text-gray-500 font-bold mb-4">Revenu Moyen</label>
                                <p id="phone" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.average_income }}</p>
                            </div>
                            <div class="user-role">
                                <label for="role" class="text-sm text-gray-500 font-bold mb-4">status</label>
                                @if (currentUserKyc()?.income_status === 'approved') {
                                    <p id="role"  class="text-xs text-green-400 font-semibold">Approuvé</p>
                                }@else {
                                    <p
                                        id="has_wallet"
                                        [ngClass]="currentUserKyc()?.income_status === 'rejected' ? 'text-red-400' : 'text-orange-400'"
                                        class="text-xs font-semibold"
                                    >
                                        {{ currentUserKyc()?.income_status === 'rejected' ? 'Rejeté' : 'En attente' }}
                                    </p>
                                }
                            </div>
                            <div class="user-role">
                                <label for="role" class="text-sm text-gray-500 font-bold mb-4">Raison du rejet</label>
                                <p id="role" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.income_rejection_reason }}</p>
                            </div>
                        </div>

                        <div class="w-full flex items-end justify-end gap-4">
                            <button
                                pButton
                                [severity]="isValidating() && currentSection() === '2' ? 'secondary' : 'success'"
                                [icon]="isValidating() && currentSection() === '2' ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
                                size="small"
                                class="w-[100px] text-xs text-white font-semibold bg-green-400 p-2 rounded-md cursor-pointer"
                                (click)="validateKycSection('income', '2')" [disabled]="isValidating() && currentSection()"
                            >
                                @if (isValidating() && currentSection()) {
                                    Validation en cours
                                } @else {
                                    Valider
                                }
                            </button>

                            <button
                                pButton
                                [severity]="isRejecting() && currentSection() === '2' ? 'secondary' : 'danger'"
                                [icon]="isRejecting() && currentSection() === '2' ? 'pi pi-spin pi-spinner' : 'pi pi-times'"
                                size="small"
                                class="w-[100px] text-xs text-white font-semibold bg-red-400 p-2 rounded-md cursor-pointer"
                                (click)="rejectKycSection('income', '2')"
                                [disabled]="isRejecting() && currentSection()"
                            >
                                @if (isRejecting() && currentSection()) {
                                    Rejet en cours
                                } @else {
                                    Rejeter
                                }
                            </button>
                        </div>
                    </div>
                </div>
    
                <div class="col-3 w-full p-4 bg-white rounded-md">
                    <h3 class="text-lg text-gray-600 font-semibold mb-6">Documents</h3>
                    <div class="w-full">
                        <div class="w-full flex items-start justify-between flex-wrap gap-6 mb-6">
                            <div class="user-active">
                                <label for="is_active" class="text-sm text-gray-500 font-bold mb-4">Photo utilisateur</label>
                                <img [src]="currentUserKyc()?.user_image" [alt]="currentUserKyc()?.user_image" class="w-[300px] border border-gray-300 rounded-md">
                            </div>
                            <div class="user-push_token">
                                <label for="push_token" class="text-sm text-gray-500 font-bold mb-4">Image document Recto</label>
                                <img [src]="currentUserKyc()?.id_document_front" [alt]="currentUserKyc()?.id_document_front" class="w-[300px] border border-gray-300 rounded-md">
                            </div>
                            <div class="user-has_wallet">
                                <label for="has_wallet" class="text-sm text-gray-500 font-bold mb-4">Image document Verso</label>
                                <img [src]="currentUserKyc()?.id_document_back" [alt]="currentUserKyc()?.id_document_back" class="w-[300px] border border-gray-300 rounded-md">
                            </div>
                            <div class="user-role">
                                <label for="role" class="text-sm text-gray-500 font-bold mb-4">status</label>
                                @if (currentUserKyc()?.id_document_status === 'approved') {
                                    <p id="role"  class="text-xs text-green-400 font-semibold">Approuvé</p>
                                }@else {
                                    <p
                                        id="has_wallet"
                                        [ngClass]="currentUserKyc()?.id_document_status === 'rejected' ? 'text-red-400' : 'text-orange-400'"
                                        class="text-xs font-semibold"
                                    >
                                        {{ currentUserKyc()?.id_document_status === 'rejected' ? 'Rejeté' : 'En attente' }}
                                    </p>
                                }
                            </div>
                            <div class="user-role">
                                <label for="role" class="text-sm text-gray-500 font-bold mb-4">Raison du rejet</label>
                                <p id="role" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.id_document_rejection_reason }}</p>
                            </div>
                        </div>

                        <div class="w-full flex items-end justify-end gap-4">
                            <button
                                pButton
                                [severity]="isValidating() && currentSection() === '3' ? 'secondary' : 'success'"
                                [icon]="isValidating() && currentSection() === '3' ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
                                size="small"
                                class="w-[100px] text-xs text-white font-semibold bg-green-400 p-2 rounded-md cursor-pointer"
                                (click)="validateKycSection('id_document', '3')" [disabled]="isValidating() && currentSection() === '3'"
                            >
                                @if (isValidating() && currentSection()) {
                                    Validation en cours
                                } @else {
                                    Valider
                                }
                            </button>

                            <button
                                pButton
                                [severity]="isRejecting() && currentSection() === '3' ? 'secondary' : 'danger'"
                                [icon]="isRejecting() && currentSection() === '3' ? 'pi pi-spin pi-spinner' : 'pi pi-times'"
                                size="small"
                                class="w-[100px] text-xs text-white font-semibold bg-red-400 p-2 rounded-md cursor-pointer"
                                (click)="rejectKycSection('id_document', '3')"
                                [disabled]="isRejecting() && currentSection() === '3'"
                            >
                                @if (isRejecting() && currentSection() === '3') {
                                    Rejet en cours
                                } @else {
                                    Rejeter
                                }
                            </button>
                        </div>
                    </div>
                </div>
    
                <div class="col-3 w-full p-4 bg-white rounded-md">
                    <h3 class="text-lg text-gray-600 font-semibold mb-6">Investissements</h3>
                    <div class="w-full">
                        <div class="w-full flex items-start justify-start gap-6 mb-6">
                            <div class="user-active">
                                <label for="is_active" class="text-sm text-gray-500 font-bold mb-4">Objectifs d'investissement</label>
                                <p id="is_active" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.investment_objectives?.join(', ') }}</p>
                            </div>
                            <div class="user-push_token">
                                <label for="push_token" class="text-sm text-gray-500 font-bold mb-4">Horizon d'investissement</label>
                                <p id="push_token" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.investment_horizon }}</p>
                            </div>
                            <div class="user-has_wallet">
                                <label for="has_wallet" class="text-sm text-gray-500 font-bold mb-4">Status</label>
                                @if (currentUserKyc()?.investment_status === 'approved') {
                                    <p id="has_wallet" class="text-xs text-green-400 font-semibold">Approuvé</p>
                                }@else {
                                    <p
                                        id="has_wallet"
                                        [ngClass]="currentUserKyc()?.investment_status === 'rejected' ? 'text-red-400' : 'text-orange-400'"
                                        class="text-xs font-semibold"
                                    >
                                        {{ currentUserKyc()?.investment_status === 'rejected' ? 'Rejeté' : 'En attente' }}
                                    </p>
                                }
                            </div>
                            <div class="user-role">
                                <label for="role" class="text-sm text-gray-500 font-bold mb-4">Raison du rejet</label>
                                <p id="role" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.investment_rejection_reason }}</p>
                            </div>
                        </div>

                        <div class="w-full flex items-end justify-end gap-4">
                            <button
                                pButton
                                [severity]="isValidating() && currentSection() === '4' ? 'secondary' : 'success'"
                                [icon]="isValidating() && currentSection() === '4' ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
                                size="small"
                                class="w-[100px] text-xs text-white font-semibold bg-green-400 p-2 rounded-md cursor-pointer"
                                (click)="validateKycSection('investment', '4')" [disabled]="isValidating() && currentSection() === '4'"
                            >
                                @if (isValidating() && currentSection() === '4') {
                                    Validation en cours
                                } @else {
                                    Valider
                                }
                            </button>

                            <button
                                pButton
                                [severity]="isRejecting() && currentSection() === '4' ? 'secondary' : 'danger'"
                                [icon]="isRejecting() && currentSection() === '4' ? 'pi pi-spin pi-spinner' : 'pi pi-times'"
                                size="small"
                                class="w-[100px] text-xs text-white font-semibold bg-red-400 p-2 rounded-md cursor-pointer"
                                (click)="rejectKycSection('investment', '4')"
                                [disabled]="isRejecting() && currentSection() === '4'"
                            >
                                @if (isRejecting() && currentSection() === '4') {
                                    Rejet en cours
                                } @else {
                                    Rejeter
                                }
                            </button>
                        </div>
                    </div>
                </div>

                <hr class="w-full" />
    
                <div class="col-3 w-full flex items-start justify-start gap-20 mb-2 p-4 bg-white rounded-md">
                    <div class="user-role">
                        <label for="role" class="text-sm text-gray-500 font-bold mb-4">status</label>
                        @if (currentUserKyc()?.status === 'approved') {
                            <p id="role"  class="text-xs text-green-400 font-semibold">Approuvé</p>
                        }@else {
                            <p
                                id="has_wallet"
                                [ngClass]="currentUserKyc()?.status === 'rejected' ? 'text-red-400' : 'text-orange-400'"
                                class="text-xs font-semibold"
                            >
                                {{ currentUserKyc()?.status === 'rejected' ? 'Rejeté' : 'En attente' }}
                            </p>
                        }
                    </div>
                    <div class="user-active">
                        <label for="is_active" class="text-sm text-gray-500 font-bold mb-4">Raison de rejet</label>
                        <p id="is_active" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.rejection_reason }}</p>
                    </div>
                    <div class="user-push_token">
                        <label for="push_token" class="text-sm text-gray-500 font-bold mb-4">Date de vérification</label>
                        <p id="push_token" class="text-sm text-gray-700 font-semibold">{{ currentUserKyc()?.verified_at }}</p>
                    </div>
                </div>
            </div>
        }
    </section>

</div>